.wrapDancer {
    width: 100%;
    box-sizing: border-box;
    .dancerProfile {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 50vh;
        //background-image: url('https://picsum.photos/360?blur=2&random=1');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 2;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.5);
            position: absolute;
            z-index: -1;
        }
        .logout {
            display: block;
            color: $white;
            position: absolute;
            right: toRem(15);
            top: toRem(10);
            text-decoration: underline;
        }
        .dancerImage {
            width: toRem(120);
            height: toRem(120);
            border-radius: 100%;
            //border: 3px solid $color2;
            overflow: hidden;
        }
        .nameDancer {
            width: 100%;
            font-size: toRem(30);
            text-align: center;
            color: #FFFFFF;
            margin-top: toRem(10);
            .levelDancer {
                font-size: toRem(20);
                .level {
                    &-legion {
                        font-weight: bold;
                        color: #2b94f6;
                    }
                    &-half {
                        font-weight: bold;
                        color: #ff11a3;
                    }
                    &-beginner {
                        font-weight: bold;
                        color: #5a008d;
                    }
                }
            }
        }
    }
    .dancerScoreGeneral {
        .titleDancer {
            width: 100%;
            padding: 10px 0 20px 20px;
        }
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: calc(100% - 40px);
        margin: 0 auto;
        padding: toRem(10);
        position: relative;
        box-shadow: 0px 15px 15px -3px rgba(0,0,0,0.1);
        margin-top: toRem(-40);
        z-index: 3;
        background-color: $white;
        border-radius: 5px;
        .itemScore {
            display: flex;
            width: calc(20% - 1px);
            flex-direction: column;
            align-items: center;
            border-right: 1px solid #CCC;
            &:last-child {
                border-right: none;
            }
            .score {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: toRem(18);
                animation: all ease-in-out .5s;
                .valueScore {
                    position: absolute;
                }
            }
            .scoreText {
                font-size: toRem(11);
            }
        }
    }
    .progressWeekDancer {
        .backMedalTop {
            display: flex;
            width: toRem(65);
            height: toRem(65);
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 3px;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto;
            font-size: toRem(20);
            font-weight: bold;
            &.low {
                background-image: url('../Images/topMedalLow.png');
                font-size: toRem(15);
                padding-bottom: 7px;
            }
            &.top {
                background-image: url('../Images/topMedal.png');
            }
        }
        .textTopWeek {
            text-align: center;
        }
    }
    .wrapTabs {
        margin: toRem(30) 0;
        padding: 0 toRem(10);
        box-sizing: border-box;
        .MuiTabs-root {
            button {
                padding: toRem(5);
                text-transform: none;
                font-size: toRem(15);
                &:first-child {
                    padding-left: 0;
                }
                &.Mui-selected {
                    font-weight: bold;
                }
            }
        }
        .tab-panel {
            padding-top: toRem(20);
            .headTitle {
                text-align: right;
                font-size: toRem(18);
                font-weight: normal;
            }
            .message {
                font-size: toRem(18);
                margin-top: toRem(20);
            }
            &.panel-2,
            &.panel-3 {
                .wrapTopToday {
                    background-color: rgba($white, 0.9);
                    box-sizing: border-box;
                    span {
                        display: block;
                        padding: toRem(10) 0;
                        color: rgba(0, 0, 0, 0.6);
                        text-align: right;
                    }
                    .head {
                        display: flex;
                        margin-bottom: toRem(10);
                        > div {
                        &:nth-child(1) {
                            width: 10%;
                            color: $color2;
                        }
                        &:nth-child(2) {
                            width: 30%;
                            color: $color2;
                        }
                        &:nth-child(3) {
                            width: 15%;
                            color: $color2;
                        }
                        &:nth-child(4),
                        &:nth-child(5),
                        &:nth-child(6),
                        &:nth-child(7),
                        &:nth-child(8) {
                            width: 10%;
                            text-align: center;
                            color: $color2;
                        }
                        }
                    }
                    .content {
                        display: flex;
                        flex-direction: column;
                        .item {
                            display: flex;
                            width: 100%;
                            padding: toRem(5) 0;
                            border-bottom: 1px solid #dbdbdb;
                            color: rgba(0, 0, 0, 0.6);
                            position: relative;
                            &.currentDancer {
                                position: relative;
                                z-index: 2;
                                transition: all ease-in-out .3s;
                                border: 1px solid $color4;
                            }
                            &:last-child {
                                border: none;
                            }
                            &:first-child {
                                background-color: #ffbf00;
                                font-weight: bold;
                                &::before {
                                    display: none;
                                    content: '';
                                    width: 22px;
                                    height: 22px;
                                    position: absolute;
                                    right: toRem(-20);
                                    background-image: url('../Images/medal.png');
                                    background-size: toRem(22);
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                }
                            }
                            &:nth-child(2) {
                                background-color: #e3e4e5;
                                font-weight: bold;
                            }
                            &:nth-child(3) {
                                background-color: #bf8970;
                                font-weight: bold;
                            }
                            > div {
                                &:nth-child(1) {
                                    width: 10%;
                                    padding-left: toRem(7);
                                    box-sizing: border-box;
                                }
                                &:nth-child(2) {
                                    width: 30%;
                                }
                                &:nth-child(3) {
                                    width: 15%;
                                }
                                &:nth-child(4),
                                &:nth-child(5),
                                &:nth-child(6),
                                &:nth-child(7),
                                &:nth-child(8) {
                                    width: 10%;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .evaluationToday {
        display: flex;
        flex-wrap: wrap;
        //padding: 20px 10px 30px 10px;
        .wrapHeadEvaluationToday {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 10px;
            h3 {
                width: 100%;
            }
            .MuiInputBase-root {
                font-size: toRem(15);
                height: toRem(40);
            }
        }
        .scoresEvaluationToday {
            display: flex;
            width: 60%;
            flex-wrap: wrap;
            justify-content: flex-start;
            .item {
                display: flex;
                flex-direction: column;
                width: calc(100% / 3 - toRem(5));
                height: toRem(60);
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                border-radius: toRem(10);
                margin-bottom: toRem(5);
                align-items: center;
                justify-content: center;
                margin-right: toRem(5);
                box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
                &:after {
                    display: block;
                    content: '';
                    width: 100%;
                    height: 5px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                .value {
                    font-weight: bold;
                    font-size: toRem(20);
                }
                .text {
                    font-size: toRem(15);
                    color: #666666;
                }
                &:nth-child(1) {
                    &::after {
                        background-color: #FF0018;
                    }
                }
                &:nth-child(2) {
                    &::after {
                        background-color: #FFA52C;
                    }
                }
                &:nth-child(3) {
                    &::after {
                        background-color: #FFFF41;
                    }
                }
                &:nth-child(4) {
                    &::after {
                        background-color: #008018;
                    }
                }
                &:nth-child(5) {
                    &::after {
                        background-color: #0000F9;
                    }
                }
            }
        }
        .topTodayDancer {
            display: flex;
            width: 40%;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            align-self: center;
            .titleTodayTop {
                width: 100%;
                text-align: center;
                font-size: toRem(18);
                font-weight: bold;
            }
            .top {
                font-size: toRem(50);
                font-weight: bold;
                span {
                    font-size: toRem(18);
                    font-weight: normal;
                }
            }
        }
    }
}