.festival {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap;
    box-sizing: border-box;

    &__logo {
        width: 100%;

        img {
            width: 200px;
            display: block;
            margin: 20px auto;
        }
    }

    &__dancers {
        display: flex;
        width: 50%;
        max-width: 800px;
        margin: 0 auto;
        justify-content: flex-start;
        flex-wrap: wrap;

        &.theme_comprension {
            display: grid;
            width: auto;
            grid-template-columns: repeat(5, auto);
            //grid-auto-flow: column;
            grid-gap: 20px;
            align-self: flex-start;
            position: relative;

            a {
                color: black;
            }

            .classified {
                display: flex;
                position: absolute;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;

                .link--classified {
                    position: absolute;
                    background-color: $color3;
                    color: white;
                    padding: 10px 20px;
                    font-size: toRem(30);
                    border-radius: 5px;
                }
            }

            .festival__dancers__dancer {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                align-self: center;

                &__image {
                    width: 120px;
                    height: 120px;
                }
            }

            .festival__dancers__dancer__name,
            .festival__dancers__dancer__subname {
                width: 100%;
                margin-top: 0;
                margin-bottom: toRem(10);
            }

            .festival__dancers__dancer__name {
                font-size: toRem(18);
            }

            .festival__dancers__dancer__subname {
                display: none;
            }
        }

        &__dancer {
            display: flex;
            width: calc(100% / 5 - 10px);
            justify-content: center;
            flex-wrap: wrap;

            &:nth-child(odd) {
                .festival__dancers__dancer__image {
                    border: 2px solid $color4;
                }
            }

            &:nth-child(even) {
                .festival__dancers__dancer__image {
                    border: 2px solid $color3;
                }
            }

            &.calificated {
                .festival__dancers__dancer__image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    //filter: blur(2px);

                    &::before {
                        display: block;
                    }

                    &::after {
                        display: block;
                    }
                }
            }

            &__image {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-position: center center;
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: rgba(black, 0.8);
                    display: none;
                }

                &::after {
                    content: '';
                    display: none;
                    width: 32px;
                    height: 32px;
                    background-image: url('../Images/check.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                    z-index: 2;
                    position: relative;
                }

                img {
                    width: 100%;
                }
            }

            &__name {
                width: 100%;
                text-align: center;
                font-size: toRem(25);
                margin-top: toRem(10);
            }

            &__subname {
                width: 100%;
                text-align: center;
                font-size: toRem(15);
            }
        }
    }

    &__form {
        width: 50%;
    }

    &__lottery {
        display: flex;
        width: 50%;
        align-items: center;
        flex-direction: column;

        button {
            width: toRem(200);
        }
    }

    &__classified {
        display: flex;
        width: 100%;
        max-width: 900px;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;

        h1 {
            width: 100%;
            color: black;
            text-align: center;
            margin: 30px 0;
        }

        &__dancers {
            display: grid;
            width: auto;
            grid-template-columns: repeat(3, auto);
            //grid-auto-flow: column;
            grid-gap: 20px;
            align-self: flex-start;
            position: relative;

            .dancer--image {
                width: 200px;
                height: 200px;
                background-size: cover;
                background-position: center center;
                border-radius: 50%;
            }

            .dancer--name {
                font-size: toRem(30);
                text-align: center;
            }
        }

        //justify-content: flex-end;
    }

    &__calification {
        display: flex;
        width: 100%;
        max-width: 900px;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: flex-end;

        &__back {
            a {
                text-decoration: none;
            }
        }

        &__title {
            width: 100%;
            font-size: toRem(40);
            text-transform: uppercase;
            text-align: center;
        }

        &__dancer {
            display: flex;
            width: 40%;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;

            &__image {
                width: 200px;
                height: 200px;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%;
                background-position: center center;
            }

            &__name {
                width: 100%;
                text-align: center;
                font-size: toRem(30);
            }
        }

        &__jury {
            display: flex;
            width: 60%;
            justify-content: space-between;
            flex-wrap: wrap;
            align-content: flex-start;

            .MuiFormControl-root {
                width: calc(50% - 10px);
                margin-bottom: 10px;
            }

            .Textarea {
                width: 100%;
                resize: vertical;
            }

            .Select {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}