@import 'Colors';
@import 'MediaQueries';
@import 'Functions';
@import 'Themes';
@import 'Users';
@import 'Tariff';
@import 'Evaluation';
@import 'Forms';
@import 'Dancer';
@import 'Festival';


h2 {
  color: $color2;
  font-size: 25px;
  font-weight: 300;
}

// HOME
.wrapScreenHome {
  width: 100%;
  background-color: #000000;
  .wrapMainHome {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}

.downloadPWA {
  position: absolute;
  top: 100px;
  left: calc(100vw / 2 - 30px);
}