@import 'Colors';
@import 'MediaQueries';
@import 'Users';
@import 'Tariff';
@import 'Evaluation';


h2 {
  color: $color2;
  font-size: 25px;
  font-weight: 300;
}

// HOME
.wrapScreenHome {
  width: 100%;
  background-color: #000000;
  .wrapMainHome {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}